<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h1>POST Details</h1>
    <div id="pos">

        <h3>Post id: <%= post.id  %></h3>
        <h3>@<%= post.username  %> </h3>
        <h3>"<%= post.content  %>" </h3>
        <a href="http://localhost:3000/posts">back</a>
        
    </div>
    
</body>
</html>